.menu-top-container{
    display: flex;
}
.search-form, .admin-panel, .home{
    height: 100%;
    background: rgba( 255, 255, 255, 255);
    border-radius: 25px;
    display: flex;
    margin-right: 3em;
}
.admin-panel{
    margin-right: 0;
}
.search-input{
    font-size: 18px;
    line-height: 16px;
    box-sizing: border-box;
    width: 110px;
    height: 100%;
    padding: 10px;
    opacity: 0.9;
    border: 0;
    outline: 0;
    background: transparent;
    transition: width 0.1s;
}
.search-input:focus{
    width: 200px;
}
.search-btn, .admin-btn, .home-btn{
    border: 0;
    background: 0;
    cursor: pointer;
    transition: 0.1s;
    margin: 0;
    padding: 0;
}
.admin-btn{
    font-size: 18px;
    padding-left: 1em;
}
.search-btn:hover, .admin-btn:hover, .home-btn:hover{
    transform: scale(1.3);
}
.search-icon, .admin-icon, .home-icon{
    margin-right: 1em;
    font-size: 20px;
}
.admin-icon, .home-icon{
    padding-left: 1em;
}
